.container {
  margin: 20px auto;
  width: 80%;
  //display: flex;
  //justify-content: center;

  .search {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .list {
    margin-top: 20px;
  }

  .list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      list-style: none;
      flex-basis: 22%;

      .book-details {
        margin-top: 10px;
        text-align: center;
      }
    }
  }


}
